<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tenemos lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">¡Lore&Meli tiene todo lo que necesita para poner en funcionamiento su nuevo sitio web en muy poco tiempo! </p>
                <a href="#" class="btn btn-default btn-xl">Contenos!</a>
            </div>
        </div>
    </div>
</section>
